/*Global Styling*/
.fourteenFourty {
    position: relative;
    width: 100%;
    max-width: 1440px;
    margin: 0 auto;
    padding: 0px 15px;
}

.twelveHundred {
    position: relative;
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0px 15px;
}

.tenEighty {
    position: relative;
    width: 100%;
    max-width: 1080px;
    margin: 0 auto;
    padding: 0px 15px;
}

.sixHundred {
    position: relative;
    width: 100%;
    max-width: 600px;
    margin: 0 auto;
    padding: 0px 15px;
}

.responsiveImg {
    display: block;
    max-width: 100%;
    width: 100%;
}

.button {
    display: inline-block;
    padding: 8px 16px;
    border-radius: 8px;
    font-weight: 500;
}

.button__colored {
    background-color: var(--accent-color-primary);
    transition: all .15s ease-out;
}

.button__colored:hover {
    box-shadow: 4px 4px 0 #5f0202;
    transform: translate(-4px,-4px);
}

.button__outline {
    border: 1px solid var(--text-color-primary);
    transition: all .20s ease-in-out;
}

.button__outline:hover {
    background-color: var(--accent-color-primary);
    border: 1px solid var(--accent-color-primary);
}

body {
    background-color: var(--background-color-primary);
    color: var(--text-color-primary);
    font-family: var(--standard-font);
    line-height: 24px;
}

h1 {
    font-family: var(--heading-font);
    font-size: 1.8rem;
    font-weight: 700;
    line-height: normal;
}

h2 {
    font-family: var(--heading-font);
    font-size: 1.5em;
    font-weight: 700;
    padding-bottom: 12px;
    line-height: normal;
}

h3 {
    font-family: var(--heading-font);
    font-size: 1.125em;
    font-weight: 500;
    padding-bottom: 10px;
    line-height: normal;
}



/*Header*/
header {
    position: relative;
    display: flex;
    justify-content: center;
    z-index: 3;
}

.header-content__holder {
    position: absolute;
    display: flex;
    justify-content: space-between;
    padding: 15px;
}

.header-logo__holder {
    max-height: 80px;
    max-width: 110px;
}

.header-logo__holder img {
    max-height: inherit;
    object-fit: cover;
}

.desktop-navigation__holder {
    display: none;
}

.header-button__holder {
    display: none;
}

.header-navigation-links__container {
    display: flex;
    gap: 20px;
    text-transform: uppercase;
}

/*Navigation Mobile*/
.mobile-navigation__holder #navIcon {
    position: relative;
    width: 30px;
    height: 25px;
    z-index: 6;
}

.mobile-navigation__holder #navIcon span {
    position: absolute;
    display: block;
    width: 100%;
    height: 3px;
    left: 0;
    background-color: var(--text-color-primary);
    border-radius: 10px;
    transform: rotate(0deg);
    transition: 0.25s ease-in-out;
    box-shadow: 1px 1px 3px 0px var(--background-color-primary);
}

.mobile-navigation__holder #navIcon span:nth-child(1) {
    top: 0px;
}

.mobile-navigation__holder #navIcon span:nth-child(2), .mobile-navigation__holder #navIcon span:nth-child(3) {
    top: 10px;
}
.mobile-navigation__holder #navIcon span:nth-child(4) {
    top: 20px;
}

.mobile-navigation__holder #navIcon.expanded-button span:nth-child(1), .mobile-navigation__holder #navIcon.expanded-button span:nth-child(4) {
    top: 10px;
    left: 50%;
    width: 0%;
}

.mobile-navigation__holder #navIcon.expanded-button span:nth-child(2) {
    transform: rotate(45deg);
}

.mobile-navigation__holder #navIcon.expanded-button span:nth-child(3) {
    transform: rotate(-45deg);
}

.mobile-navigation__dropdown {
    position: absolute;
    top: calc(-100% - 75px);
    right: 0px;
    max-width: 80%;
    width: 100%; 
    transition: top 1s ease-in-out;
}

.mobile-navigation__dropdown.expanded-dropdown {
    top: 60px;
}

#dropdownOverlay {
    position: fixed;
    display: none;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 3;
    background-color: rgba(24, 24, 24, 0.8);
}

.menu__title {
    content: "";
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    top: 0;
    left: 0; 
    width: calc(100% - 60px);
    height: 61px;
    margin-top: -60px;
    background-color: var(--background-color-secondary);
    border-bottom: 1px solid var(--line-accent-nav-color);
    border-left: 1px solid var(--line-accent-nav-color);
    box-shadow: -2px 3px 5px 4px rgba(69,6,6, 0.6);
    border-bottom-left-radius: 5px;
    z-index: 5;
}

.menu__title span {
    font-family: var(--heading-font);
    font-size: 1.125em;
    font-weight: 500;
    line-height: normal;
    letter-spacing: 1px;
    text-shadow: -2px 1px 1px var(--figure-color-primary);
    color: var(--accent-color-primary);
    text-transform: uppercase;
}

.mobile-navigation__dropdown nav::after {
    content: "";
    position: absolute;
    top: 0;
    right: 0; 
    width: 60px;
    height: 60px;
    margin-top: -60px;
    background-color: var(--accent-color-primary);
    border-left: 1px solid var(--line-accent-nav-color);
    border-bottom: 1px solid var(--line-accent-nav-color);
    box-shadow: 6px 3px 5px 4px rgba(69,6,6, 0.5);
    z-index: 4;
}

.mobile-navigation__dropdown ul {
    text-align: center;
    z-index: 4;
    position: relative;
}

.mobile-navigation__dropdown ul li {
    padding: 15px;
    font-size: 1.3em;
    text-transform: uppercase;
    text-shadow: -2px 1px 1px var(--background-color-secondary);
    letter-spacing: 2px;
    font-weight: 500;
    border-bottom: 2px solid var(--line-accent-nav-color);
    border-left: 1px solid var(--line-accent-nav-color);
    margin-right: 0;
    margin-left: auto;
    border-bottom-left-radius: 5px;
}

.mobile-navigation__dropdown ul li:nth-child(1) {
    max-width: 90%;
    background-color: #ab0303;
    box-shadow: -2px 3px 5px 4px rgba(171,3,3, 0.4);
}

.mobile-navigation__dropdown ul li:nth-child(2) {
    max-width: 80%;
    background-color: #980303;
    box-shadow: -2px 3px 5px 4px rgba(152,3,3, 0.4);
}

.mobile-navigation__dropdown ul li:nth-child(3) {
    max-width: 70%;
    background-color: #850202;
    box-shadow: -2px 3px 5px 4px rgba(133,2,2, 0.4);
}

/*Navigation Desktop*/
.header-navigation-links__container li a {
    position: relative;
    z-index: 1;
    transition: all 0.5s ease-in-out;
    padding: 10px 5px;
    border-radius: 5px;
}

.header-navigation-links__container li a:hover {
    letter-spacing: 1px;
    text-shadow: -2px 1px 0px var(--background-color-secondary);
}

.header-navigation-links__container li a::after {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    width: 100%;
    height: 1px;
    color: transparent;
    background: var(--accent-color-primary);
    visibility: none;
    opacity: 0;
    z-index: -1;
    border-radius: 5px;
    transition: all 0.5s;
}

.header-navigation-links__container li a:hover::after {
    opacity: 1;
    visibility: visible;
    height: 100%;
}



/*Hero Section*/
.hero-content__holder {
    display: flex;
    align-items: center;
    flex-direction: column-reverse;
    padding-top: 120px;
    padding-bottom: 100px;
    gap: 25px;
}

.hero-content__holder--text {
    max-width: 600px;
    z-index: 2;
    text-align: -webkit-center;
}

.hero-content__holder--text p {
    font-weight: 200;
    padding-top: 15px;
    padding-bottom: 30px;
    max-width: 500px;
}

.hero-accent {
    color: var(--accent-color-primary);
}

.hero-content__holder--image {
    position: relative;
    max-width: 180px;
    max-height: 180px;
    width: 100%;
    height: 100%;
    border-radius: 140px;
    z-index: 2;
}

.hero-content__holder--image::after {
    content: "";
    position: absolute;
    top: 30%;
    left: -4%;
    background-image: url(../img/hero-accent.png);
    background-size: contain;
    background-repeat: no-repeat;
    max-width: 100%;
    width: 100%;
    height: 75%;
}

.hero-content__holder--image img {
    border-radius: 140px;
}

.hero-content__holder--background {
    position: absolute;
    right: 0;
    top: 0;
    z-index: 1;
    width: 100%;
    height: 100%;
}

.hero-content__holder--background::after {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background-color: var(--overlay-color-hero);
}

.hero-content__holder--background img {
    height: 100%;
    object-fit: cover;
}



/*About Section*/
.about__section {
    margin-top: -25px;
    z-index: 2;
    margin-bottom: 75px;
}

.about-content__holder {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
}

.about-info__container {
    flex: 0 1 32%;
    min-width: 250px;
    padding: 15px 20px 5px;
    text-align: center;
    background-color: var(--background-color-secondary);
    border-radius: 16px;
}

.about-info__container p {
    font-size: 0.875em;
    font-weight: 200;
    max-width: 220px;
    margin: 0 auto;
}

.about-info__container--image {
    max-width: 30px;
    margin: 0 auto;
    padding-bottom: 10px;
    
}

.about-info__container--image img {
    filter: invert(100%);
}



/*Vision Section*/
.vision__section {
    margin-bottom: 75px;
}

.vision-content__holder {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.vision-content__holder--text {
    max-width: 600px;
    text-align: center;
}

.vision-content__holder--image {
    max-width: 400px;
    max-height: 200px;
    width: 100%;
    border-radius: 16px;
    border: 2px solid var(--accent-color-primary);
    overflow: hidden;
}

.vision-content__holder--image img {
    max-height: inherit;
    object-fit: cover;
}



/*Testimonials Section*/
.testimonials__section {
    margin-bottom: 75px;
    padding-top: 40px;
}

.testimonial-content__holder {
    position: relative;
    padding: 0 50px;
}

.slider__holder {
    background-color: var(--background-color-secondary);
    border-radius: 16px;
    text-align: center;
}

.testimonial__slide {
    position: relative;
    display: none;
    padding: 60px 20px 15px;
}

.testimonial__slide.activeSlide {
    display: block;
}

.testimonial__slide--img {
    position: absolute;
    top: -40px;
    left: calc(50% - 40px);
    max-width: 80px;
    max-height: 80px;
    border-radius: 99px;
    width: 100%;
    overflow: hidden;
}

.testimonial__slide--img img {
    object-fit: cover;
    max-width: inherit;
    max-height: inherit;
}

.testimonial__slide span {
    display: block;
    font-size: 0.875em;
    font-weight: 200;
    padding-top: 25px;
}

.slide__button {
    position: absolute;
    top: calc(50% - 17px);
    font-size: 40px;
    width: 34px;
    height: 34px;
    border-radius: 99px;
    background-color: var(--accent-color-primary);
    transition: 0.15s ease-out;
}

.slide__button:hover {
    box-shadow: 3px 3px 0 #5f0202;
    transform: translate(-3px,-3px);
}

.slide__button--prev {
    left: 0;
}

.slide__button--next {
    right: 0;
}



/*Work Method Section*/
.work-method__section {
    margin-bottom: 75px;
}

.work-method-content__holder {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
}

.work-method-content__holder--text {
    max-width: 550px;
}

.work-method-content__holder--image {
    position: relative;
    max-width: 400px;
    max-height: 200px;
    width: 100%;
    z-index: 2;
}

.work-method-content__holder--image img {
    position: relative;
    z-index: 2;
    object-fit: cover;
    max-height: inherit;
    border-radius: 16px;
    border: 2px solid var(--accent-color-primary);
}

.work-method-steps__container {
    display: flex;
    gap: 20px;
}

.steps-visual__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 8px;
}
.steps-number {
    display: flex;
    align-items: center;
    justify-content: center;
    font-style: var(--heading-font);
    font-weight: 700;
    width: 40px;
    height: 40px;
    background-color: var(--accent-color-primary);
    border-radius: 99px;
    line-height: normal;
}

.steps-line {
    width: 2px;
    background-color: var(--line-accent-color);
    height: calc(100% - 56px);
    margin-bottom: 8px;
}

.steps-content__container .button {
    margin-top: 5px;
    margin-bottom: 30px;
}



/*Footer*/
footer {
    background-color: var(--background-color-secondary);
}

.footer-content__holder {
    display: flex;
    justify-content: space-between;
    padding: 15px;
}

.footer-logo__holder {
    max-height: 80px;
    max-width: 110px;
}

.footer-logo__holder img {
    max-height: inherit;
    object-fit: cover;
}

.footer-navigation__holder {
    display: none;
}

.footer-navigation-links__container {
    display: flex;
    gap: 20px;
    text-transform: uppercase;
}

.footer-navigation-links__container li a {
    position: relative;
    z-index: 1;
    transition: all 0.5s ease-in-out;
    padding: 10px 5px;
    border-radius: 5px; 
}

.footer-navigation-links__container li a:hover {
    letter-spacing: 1px;
    text-shadow: -2px 1px 0px var(--background-color-secondary);
}

.footer-navigation-links__container li a::after {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    width: 100%;
    height: 1px;
    color: transparent;
    background: var(--accent-color-primary);
    visibility: none;
    opacity: 0;
    z-index: -1;
    border-radius: 5px;
    transition: all 0.5s;
}

.footer-navigation-links__container li a:hover::after {
    opacity: 1;
    visibility: visible;
    height: 100%;
}

.footer-socials__holder {
    display: flex;
    gap: 20px;
}

.socials-icon__container a {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    border-radius: 99px;
    background-color: var(--accent-color-primary);
    transition: all .15s ease-out;
}

.socials-icon__container a:hover {
    box-shadow: 3px 3px 0 #5f0202;
    transform: translate(-3px,-3px);
}

.socials-icon__container img {
    filter: invert(100%);
    max-width: 16px;
    max-height: 20px;
}



/*Kosten Pagina*/
/*Kosten Select Section*/
.kosten-select__section {
    position: relative;
    background: radial-gradient(#BF0404,#181818);
    overflow: hidden;
}

.select-content__holder {
    position: relative;
    padding-top: 120px;
    padding-bottom: 150px;
    z-index: 2;
    text-align: center;
}

.select-text__container {
    margin-bottom: 80px;
}

.select-buttons__container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}

.button__kosten {
    border: 1px solid var(--text-color-primary);
    transition: all .20s ease-in-out;
}

.button__kosten--active {
    border: 1px solid black;
    background-color: black;
}

.button__kosten:hover {
    border: 1px solid black;
    background-color: black;
}

.select-disclaimer__text {
    font-size: 14px;
    padding-top: 10px;
    font-style: italic;
    font-weight: 500;
}

.banner-animation {
    position: absolute;
    width: 0px;
    top: 100%;
    bottom: 0px;
    left: 0px;
    right: 0px;
    opacity: 0.75;
    margin: auto;
    box-shadow: #0D0D0E 0px 0px 20px 2px;
    z-index: 1;
}

.banner-animation--1 {
    animation: floatUp 4s infinite linear;
    transform: scale(1.0);
}

.banner-animation--2 {
    animation: floatUp 7s infinite linear;
    transform: scale(1.6);
    left: 15%;
}

.banner-animation--3 {
    animation: floatUp 2.5s infinite linear;
    transform: scale(0.5);
    left: -15%;
}

.banner-animation--4 {
    animation: floatUp 4.5s infinite linear;
    transform: scale(1.2);
    left: -34%;
}

.banner-animation--5 {
    animation: floatUp 8s infinite linear;
    transform: scale(2.2);
    left: -57%;
}

.banner-animation--6 {
    animation: floatUp 3s infinite linear;
    transform: scale(0.8);
    left: -81%;
}

.banner-animation--7 {
    animation: floatUp 5.3s infinite linear;
    transform: scale(3.2);
    left: 37%;
}

.banner-animation--8 {
    animation: floatUp 4.7s infinite linear;
    transform: scale(1.7);
    left: 62%;
}

.banner-animation--9 {
    animation: floatUp 4.1s infinite linear;
    transform: scale(0.9);
    left: 85%;
}

@keyframes floatUp {
    0% { top: 100%; opacity: 0;}
    25% {opacity: 1;}
    50% {top: 0px; opacity: 0.8;}
    75% {opacity: 1;}
    100% {top: -100%; opacity: 0;}
}



/*Kosten Packages Section*/
.kosten-packages__section {
    margin-top: -110px;
    z-index: 2;
    margin-bottom: 75px;
}

.packages-content__holder {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 50px;
    text-align: center;
}

.package__container {
    max-width: 350px;
    width: 100%;
    height: fit-content;
    padding: 30px 15px;
    border-radius: 16px;
    background-image: linear-gradient(to top, #870000, #190a05);
    box-shadow: 0px 0px 15px 2px var(--accent-color-primary);

}

.package-title {
    display: inline-block;
    font-family: var(--heading-font);
    font-weight: 500;
    line-height: normal;
    padding-bottom: 10px;
    text-shadow: -2px 1px 1px rgba(24,24,24, 0.7);
    text-transform: uppercase;
}

.package-price__container {
    margin-bottom: 10px;
}

.package-price-symbol {
    font-size: 1.5em;
    font-weight: 500;
    line-height: normal;
    text-shadow: -2px 1px 1px rgba(24, 24, 24, 0.7);
}

.package-price-amount {
    font-size: 6em;
    font-weight: 700;
    line-height: normal;
    text-shadow: -2px 2px 1px rgba(24,24,24, 0.7);
}

.package-divider {
    display: inline-block;
    font-family: var(--heading-font);
    font-size: 1.125em;
    font-weight: 500;
    line-height: normal;
    padding-bottom: 10px;
    text-shadow: -2px 1px 1px rgba(24,24,24, 0.7);
    text-transform: uppercase;
}

.package-list {
    max-width: 300px;
    margin: 0 auto 25px;
}

.package-list li {
    margin-top: 10px;
    font-weight: 500;
    font-family: var(--heading-font);
    line-height: normal;
    text-shadow: -2px 1px 1px rgba(24,24,24, 0.7);
}


/*Media Queries*/
/*Tablet*/ 
@media screen and (min-width: 480px) {
    /*Hero Section*/
    .hero-content__holder--background {
        width: 75%;
        clip-path: polygon(34% 0, 100% 0, 100% 100%, 0% 100%);
    }

    .hero-content__holder--background::after {
        clip-path: polygon(34% 0, 100% 0, 100% 100%, 0% 100%);
    }
}


/*Small Desktop*/
@media screen and (min-width: 768px) {
    /*Global Styling*/
    .fourteenFourty, .twelveHundred, .tenEighty, .sixHundred {
        padding: 0px 30px;
    }

    h1 {
        font-size: 2.5rem;
    }
    
    h2 {
        font-size: 1.5em;
        padding-bottom: 12px;
    }
    
    h3 {
        font-size: 1.125em;
        padding-bottom: 10px;
    }
    
    /*Header*/
    .header-content__holder {
        padding: 30px;
    }

    .header-logo__holder {
        max-height: 100px;
    }

    .mobile-navigation__holder {
        display: none;
    }

    .desktop-navigation__holder {
        display: block;
    }

    .header-button__holder {
        display: block;
    }

    /*Hero Section*/
    .hero-content__holder {
        flex-direction: row;
        padding-top: 220px;
        padding-bottom: 120px;
        gap: 10px;
    }

    .hero-content__holder--text {
        text-align: left;
        flex: 0 1 42%;
        margin-right: 15px;
    }

    .hero-content__holder--image {
        max-width: 250px;
        max-height: 250px;
    }

    .hero-content__holder--background {
        width: 60%;
    }

    /*About Section*/
    .about-content__holder {
        gap: 20px 30px;
    }

    /*Vision Section*/
    .vision-content__holder {
        justify-content: space-between;
        flex-direction: row;
        gap: 30px;
    }

    .vision-content__holder--text {
        flex-shrink: 1.4;
        text-align: left;
    }

    .vision-content__holder--image {
        max-width: 500px;
        max-height: 300px;
    }

    /*Testimonials__section*/
    .testimonials__section {
        padding-top: 40px;
    }

    /*Work Methods Section*/
    .work-method-content__holder {
        justify-content: space-between;
        align-items: center;
        flex-direction: row;
        gap: 30px;
    }

    .work-method-content__holder--image {
        margin-right: 6%;
        max-height: 250px;
    }

    .work-method-content__holder--image::after {
        content: "";
        top: 0;
        right: 0;
        margin-top: -15%;
        margin-right: -17%;
        position: absolute;
        border: 24px solid var(--figure-color-primary);
        border-radius: 16px;
        width: 80%;
        height: 80%;
        z-index: 1;
    }

    .steps-content__container .button {
        margin-bottom: 45px;
    }

    .work-method-steps__container {
        gap: 30px;
    }

    /*Footer*/
    .footer-content__holder {
        padding: 30px;
    }

    .footer-navigation__holder {
        display: block;
    }

    .footer-logo__holder {
        max-height: 100px;
    }

    /*Kosten Select Section*/
    .select-content__holder {
        padding-top: 150px;
        padding-bottom: 200px;
    }
}


/*Large Desktop*/
@media screen and (min-width: 1280px) {
    .about-content__holder {
        justify-content: space-between; 
        gap: 30px;
    }
    
    .about-info__container {
        flex: 0 1 20%;
    }

    .about-info__container p {
        max-width: 190px;
    }
    
}