/*Global Styling*/
.fourteenFourty {
    position: relative;
    width: 100%;
    max-width: 1440px;
    margin: 0 auto;
    padding: 0px 30px;
}

.twelveHundred {
    position: relative;
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0px 30px;
}

.tenEighty {
    position: relative;
    width: 100%;
    max-width: 1080px;
    margin: 0 auto;
    padding: 0px 30px;
}

.sixHundred {
    position: relative;
    width: 100%;
    max-width: 600px;
    margin: 0 auto;
    padding: 0px 30px;
}

.responsiveImg {
    display: block;
    max-width: 100%;
    width: 100%;
}

.button {
    display: inline-block;
    padding: 8px 16px;
    border-radius: 8px;
    font-weight: 500;
}

.button__colored {
    background-color: var(--accent-color-primary);
}

body {
    background-color: var(--background-color-primary);
    color: var(--text-color-primary);
    font-family: var(--standard-font);
}



/*Hero Section*/
.hero-content__holder {
    display: flex;
    align-items: center;
    padding-top: 180px;
    padding-bottom: 120px;
}

.hero-content__holder--text {
    max-width: 600px;
    z-index: 3;
}

.hero-content__holder--text h1 {
    font-family: var(--heading-font);
    font-size: 2.5rem;
    font-weight: 700;
}

.hero-content__holder--text p {
    font-weight: 200;
    padding-top: 15px;
    padding-bottom: 30px;
}

.hero-accent {
    color: var(--accent-color-primary);
}

.hero-content__holder--image {
    max-width: 250px;
    max-height: 250px;
    width: 100%;
    height: 100%;
    border-radius: 140px;
    overflow: hidden;
    z-index: 2;
}

.hero-content__holder--background {
    position: absolute;
    right: 0;
    top: 0;
    z-index: 1;
    width: 60%;
    height: 100%;
    margin-right: 30px;
    clip-path: polygon(30% 0, 100% 0, 100% 100%, 0% 100%);
}

.hero-content__holder--background::after {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background-color: var(--overlay-color-hero);
    clip-path: polygon(30% 0, 100% 0, 100% 100%, 0% 100%);
}

.hero-content__holder--background img {
    height: 100%;
    object-fit: cover;
}